<div class="container mb-3">
    <div class="row text-center">
        <h4 class="mt-2" style="font-family: cursive;">Drop us a message</h4>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <form class="mt-4" [formGroup]="myForm" (submit)="send()">
                <div class="mb-2">
                    <label>Name</label>
                    <input type="text" class="form-control" formControlName="name" placeholder="Enter Name">

                </div>

                <div class="mb-2">
                    <label>Email</label>
                    <input type="text" class="form-control" formControlName="email" placeholder="Enter Email">
                </div>

                <div class="mb-2">
                    <label>Your Phone</label>
                    <input type="text" class="form-control" formControlName="mobile" placeholder="Enter Phone number">
                </div>

                <div class="mb-2">
                    <label>Subject</label>
                    <input type="text" class="form-control" formControlName="subject" placeholder="Enter Message Subject">
                </div>

                <div class="mb-2">
                    <label>Message</label>
                    <textarea class="form-control" type="text" formControlName="message" placeholder="Enter your message" rows="4" cols="50"></textarea>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="d-flex flex-row-reverse" style="padding-right: 15em ;">
                            <button type="submit" class="btn btn-danger ps-5 pt-2 pb-2 pe-5 ">Submit</button>
                        </div>
                    </div>
                </div>


            </form>

        </div>
        <div class="col-sm-3"></div>
    </div>


</div>