<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <!-- <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use img src = "image.png"></use></svg> -->
        <img src="https://www.logolynx.com/images/logolynx/3f/3f6cdc735f95fd528011a7e3854065a9.jpeg" width="40" height="32" style="padding-right: 10px;">
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="home" class="nav-link px-2 text-secondary">Home</a></li>
        <li><a routerLink="viewbooking" class="nav-link px-2 text-white">View Booking</a></li>
        <li><a routerLink="placebooking" class="nav-link px-2 text-white">Place Booking</a></li>
        <li><a routerLink="contactus" class="nav-link px-2 text-white">Contact Us</a></li>
        
      </ul>

      <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
      </form> -->

      <!-- <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2">Login</button>
        <button type="button" class="btn btn-warning">Sign-up</button>
      </div> -->
    </div>
  </div>
</header>

<router-outlet></router-outlet>


<div class="container" style="padding-top: 9em;">
  
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    
    <p class="col-md-4 mb-0 text-muted">© 2021 Shayantan D Choudhury, Inc</p>
    <table style="width:50%;font-family: cursive;">

      <tr>
    
        <th>Useful Links</th>
    
        <th>Contact</th>
    
      </tr>
    
      <tr>
    
        <td>HOME</td>
    
        <td>Maria Anders</td>
    
      </tr>
    
      <tr>
    
        <td>VIEW APPOINTMENT</td>
    
        <td>Francisco Chang</td>
    
      </tr>
    
      <tr>
    
        <td>BOOK APPOINTMENT</td>
    
        <td>Francisco Chang</td>
    
      </tr>
    
      <tr>
    
        <td>CONTACT US</td>
    
        <td>Francisco Chang</td>
    
      </tr>
    
    </table>

  </footer>
</div>