.text1 {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #ffffff;
}
section {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
section, .container, .container-fluid {
    position: relative;
    word-wrap: break-word;
}
body {
    font-family: Poppins;
    font-style: normal;
    line-height: 1.5;
    background-color: black;
}

.mod {
    padding-left: 38%;
}

li{
    padding-left: 2em;
    padding-right: 2em;
}

form{
    width: 80%;
    padding-left: 30%;
}

footer{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40%;
}
