<img src="https://wallpapercave.com/wp/wp1848611.jpg" class="card-img">
        <section class="text1" id="content1" data-rv-view="3274">
            <div class="container-fluid">
                <h1 class="mod">Welcome to Clinic </h1>
            </div>
        </section>

        
